

<h2>{{ listings.0.brand.name }}</h2>

{% for spec in listings %}
    <div>
        <p>{{ spec.listing.title }}</p>
        <p>{% if spec.listing.image_urls %}
                <img class="listing-img" src="{{ spec.listing.image_urls.0 }}" alt="{{ spec.listing.title }}" loading="lazy">
            {% endif %}
        </p>

        <p>Price: {{ spec.listing.price }}</p>
        <p>Country: {{ spec.listing.country }}</p>
        <p>Last updated: {{ spec.listing.last_updated }}</p>

        <a href="{{ spec.listing.affiliate_url }}">View on eBay</a>
    </div>

    <hr>
{% empty %}
    <p>No listings found.</p>
{% endfor %}

