{% extends "keyboard_tracker/layout.html" %}

{% block title %}DealScout{% endblock %}

{% block content %}

<H1>Available Brands</H1>

<p class="d-none d-md-block">
    Browse all tracked brands to find specific models quickly.
</p>

<p class="d-md-none mobile-title">
    Explore keyboard brands.
</p>
<p>

<div class="series-nav">
{% if canonbrand_list %}
  {% for brand in canonbrand_list %}
    <a href="{% url 'brand' slug=brand.slug %}{% if selected_country %}?country={{ selected_country }}{% endif %}"
       class="btn btn-sm btn-danger px-1 mb-2 model-menu">
        {{ brand.name }}
    </a>
    {% endfor %}
{% else %}
    No brands available.
{% endif %}
  
</div>
</p>

{% if listings %}
    {% include "keyboard_tracker/brand.html" %}
{% endif %}
      
{% endblock %}