{% extends "keyboard_tracker/layout.html" %}

{% block title %}Advanced Search{% endblock %}

{% block content %}

<h1>Advanced Search</h1>

<form method="get" action="{% url 'search_results' %}">

    {% if country %}
    <input type="hidden" name="country" value="{{ country }}">
    {% endif %}

    <h2>Switches</h2>

    {% for switch in switches %}
        <div>
            <label>
                <input
                    type="checkbox"
                    name="switches"
                    value="{{ switch }}"
                >
                {{ switch }}
            </label>
        </div>
    {% endfor %}


    <h2>Sizes</h2>

    {% for size in sizes %}
        <div>
            <label>
                <input
                    type="checkbox"
                    name="sizes"
                    value="{{ size }}"
                >
                {{ size }}
            </label>
        </div>
    {% endfor %}


    <h2>Features</h2>

    {% for value, label in features %}
        <div>
            <label>
                <input
                    type="checkbox"
                    name="features"
                    value="{{ value }}"
                >
                {{ label }}
            </label>
        </div>
    {% endfor %}


    <button type="submit">
        Search
    </button>

</form>

{% endblock %}