{% extends "keyboard_tracker/layout.html" %}


{% block title %}DealScout{% endblock %}



{% block content %}
        <div class="p-4 p-lg-5">
          {% include "keyboard_tracker/includes/hero_card.html" %}

          <div class="table-wrap rounded-4 p-3">
            <h3 class="mb-4 text-info">LIVE PRICE FEED</h3>

            <div class="row g-4">


{% for listing in listing_list %}

<div class="col-12 col-sm-6 col-lg-4 col-xl-3">

    <div class="keyboard-card h-100">

        {% if listing.image_urls %}
            <img
                src="{{ listing.image_urls.0 }}"
                class="keyboard-image"
                alt="{{ listing.title }}"
                loading="lazy">
        {% endif %}

        <h5 class="mt-3">
            {{ listing.title }}
        </h5>

        <div class="keyboard-meta my-3">

            <div>
                <span class="label">Price</span><br>
                {{ listing.currency }} {{ listing.currency_symbol }}{{ listing.price }}
            </div>

            <div>
                <span class="label">Condition</span><br>
                {{ listing.condition }}
            </div>

        </div>

        <a href="{{ listing.affiliate_url }}" target="_blank" class="btn btn-primary w-100 mt-auto">
            View on eBay
        </a>

    </div>

</div>

{% empty %}

<div class="col-12">
    <p>No listings found.</p>
</div>

{% endfor %}

</div>
</div>
</div>
{% endblock %}