{% extends "keyboard_tracker/layout.html" %}


{% block title %}DealScout{% endblock %}



{% block content %}
        <div class="p-4 p-lg-5">
          {% include "keyboard_tracker/includes/hero_card.html" %}

          <div class="table-wrap rounded-4 p-3">
            <h3 class="mb-4 text-info">LIVE PRICE FEED</h3>

            <div class="table-responsive">
              <table class="table align-middle">
                <thead>
                  <tr>
                    <th class="col-title">Title</th>
                    <th class="col-price">Price</th>
                    <th class="text-nowrap col-price">Market</th>                        
                    <th class="col-url">Url</th>            
                  </tr>
                </thead>

                <tbody>
                  {% if listings %}
          {% for listing in listings %}
            <tr>
            <td>
                <div class="d-flex align-items-center gap-3">                
                    {% if listing.image_urls %}
                        <img class="listing-img" src="{{ listing.image_urls.0 }}" alt="{{ listing.title }}" loading="lazy">
                    {% endif %}
              
                    <div class="fw-semibold">{{ listing.title }}</div>
                </div>
            </td>
            <td>{{ listing.price }} {{ listing.currency }}</td>
            <td>{{ listing.marketplace }}</td>
            <td><a href="{{ listing.affiliate_url }}" class="btn btn-primary text-nowrap" target="_blank">Buy on eBay</a></td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
                <td colspan="5">No listings found.</td>
            </tr>
          {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
{% endblock %}