{% extends "keyboard_tracker/layout.html" %}

{% block title %}DealScout{% endblock %}

{% block content %}

<H1>Available Lego Sets</H1>

<p class="d-none d-md-block">
    Browse all tracked LEGO sets by theme and set number to find specific models quickly.
</p>

<p class="d-md-none mobile-title">
    Explore the complete LEGO set database, organized by theme and set number.
</p>
<p>

<div class="series-nav">
  {% for brand in brands %}
    <a href="#theme-{{ theme.slug }}" class="btn btn-sm btn-danger px-1 mb-2 model-menu">
      {{ brand.name }}
    </a>
  
</div>
</p>


    <section id="">
      <span class="theme-label badge text-bg-secondary">
        {{ brand.name }}
      </span>
    </section>
    {% endfor %}
    <!--
    <div class="model-grid">
      {% for model in brand.models %}
        
      <a class="model-chip  p-2"
         href="#">

        <span>{{ model.name }}</span>
        <small>{{ model.model__name }}</small>
        {% if model.last_seen %}
        <small class="model-last-seen">Seen {{ model.last_seen }} </small> 
        {% else %} 
        <small class="model-last-seen">Not Seen</small> 
        {% endif %}
      </a>
      {% endfor %}
      </div>
      -->
      
{% endblock %}