{% extends "keyboard_tracker/layout.html" %}

{% block title %}DealScout{% endblock %}

{% block content %}
<div class="table-wrap rounded-4 shadow-sm p-4">
    <h3 class="mb-4">Price Drops</h3>
    <p>Discover listings that have recently been discounted and may offer better value.</p>
    <div class="table-responsive">
        <table class="table align-middle">
        <thead>
            <tr>
            <th class="col-title">Title</th>
            <th class="col-price"> old price </th>
            <th class="col-price"> new price </th>
            <th class="col-discount"> discount</th>
            <th class="col-url">Listing</th>
            </tr>
        </thead>

        <tbody>
          {% if drops %}
          {% for drop in drops %}
            <tr>
            
            <td>
              <div class="d-flex align-items-center gap-3">
                <img class="listing-img" src="{{ drop.listing.image_urls.0 }}" loading="lazy">
                <div class="fw-semibold">                  
                  {{ drop.listing.title }}                     
                </div>
              </div>
            </td>
            
            <td>
              {%  if drop.old_price %}
                {{ drop.old_price }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {%  if drop.price %}
                {{ drop.price }}
              {% else %}
                -
              {% endif %}
            </td>
            <td><span class="discount"> 
              {% if drop.discount_percent is not none %}
                {{ drop.discount_percent|floatformat:0 }}%
              {% else %}
                -
              {% endif %} 
            </span></td>
            <td><a href="{{ drop.listing.affiliate_url }}" class="btn btn-primary text-nowrap" target="_blank">Buy on eBay</a></td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
                <td colspan="5">No price drops right now.</td>
            </tr>
          {% endif %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}