{% extends "keyboard_tracker/layout.html" %}

{% block title %}DealScout{% endblock %}

{% block content %}
<div class="table-wrap rounded-4 shadow-sm p-4">
    <h3 class="mb-4">Overview</h3>
    <p>Browse all tracked LEGO sets and see how many active listings are currently available for each set.</p>

    <div class="table-responsive">
        <table class="table align-middle">
        <thead>
            <tr>
            <th class="col-title">Keyboard</th>
            <th class="col-starting">Starting From</th>
            <th class="col-count"> Number of Listings</th>
            </tr>
        </thead>

        <tbody>
          {% if models %}
          {% for model in models %}
            <tr>

            <td> 
              <div class="d-flex align-items-center gap-3">
                <img class="listing-img"
                    src="{{ model.image_urls.0 }}" loading="lazy">
                <div>
                  {% if model.model__name %}
                      {{ model.model__brand__name }} {{ model.model__name }}
                  {% else %}
                      {{ model.title }}
                  {% endif %}
                </div>
              </div>
             </td>
            <td>
              {% if model.lowest_price %}
                  ${{ model.lowest_price }}
              {% else %}
                  —
              {% endif %}
            </td>
            <td>
              <a href="#">

                <span class="btn btn-outline-danger px-5">
                  {{ model.listing_count }}
                </span>
              </a>
            </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
                <td colspan="5">No listings found.</td>
            </tr>
          {% endif %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}